*{
    margin: 0;
    padding: 0;
}

#principal{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

#botao{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    text-align: center;
    align-items: center;
}

button{
    background-color: #04D361;
    color: white;
    padding: 16px 0;
    margin: 25px 30px;
    border: none;
    border-radius: 5px;
    width: 262px;
    height: 111px;
    font-size: 1.8em;
}

button:hover{
    opacity: 0.8;
}

button#filter{
    width: 180px;
    height: 48px;
    margin: 8px 10px;
    font-size: 1.1em;
    font-weight: 500;
    padding: 0;
    background-color:#08a3d3;
    border-radius: 5px;
    cursor: pointer;
}

.roxo{
    background-color: #613Cb6;
}

/*  dsadas  */

#quadrado{
    border: 1px solid #ABABAB;
    border-radius: 5px;
    width: 1230px;
    max-height: 610px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding-bottom: 10px;
}

.select{
    margin: 0 auto;
    padding-left: 24px;
    margin-top: 10px;
}

select{
    width: 360px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    font-size: 1.1em;
    background-color: #EBEBEB;
    border: 1px solid #ABABAB;
    border-radius: 5px;
}

.scroll{
    display: grid;
    grid-template-columns: auto auto auto;
    overflow-y: auto;
    max-height: 510px;
}

.pdf{
    text-align: center;
    margin: 20px;

}

.pdf img{
    width: 100px;
    height: 100px;
}